@import '../../App.css';

.container{
    padding: 0px 5%;
}
nav{
    display: flex;
    justify-content :space-between;
    align-items: flex-end;
    min-height: 10vh;
    border-bottom: 3px solid var(--black);
    line-height: 0;
}
ul{
    display: flex;
    justify-content :space-around;
    align-items: center;
    min-width: 40%; 
    list-style: none;
    color:#000
}
.link-menu{
    text-decoration: none;
    color: #000;
}
