.footer-wrapper {
  width: 100%;
}
.svg-container {
  margin: 0 auto;
  width: 20%;
  background: url("../../assets/footer.svg") no-repeat center center;
  background-size: contain;
  height: 10vh;
  margin-top: 50px;
  margin-bottom: 2%;
}
.footer-wrapper a{
  text-decoration: none;
}

@media(max-width:700px){
  .svg-container{
    width:30%;
  }
}