.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 11px;
  padding: 2rem 0;
}
.svg-container {
  margin: 0 auto;
  /* width: 20%; */
  background: url("../../assets/footer.svg") no-repeat center center;
  background-size: contain;
  height: 4.5rem;
  margin-top: 50px;
  margin-bottom: 2%;
}
.footer-wrapper a {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 700px) {
  .svg-container {
    height: 2rem;
  }
}
