body {
  position: relative;
}
.which_tlf .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  min-height: 80vh;
  /* margin-top: 10rem; */
}
.which_tlf {
  display: inline-flex;
  column-gap: 2rem;
  justify-content: center;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  height: calc(100% + 90px);

}
.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.red_circle {
  display: none;
}
.error {
  color: #ff0000;
  font-size: 12px;
  padding: 10px 20px;
}

.links {
  padding-right: 10px;
  display: inline-block;
  color: #0047ff;
  text-decoration: underline;
}

.links span {
  cursor: pointer;
}
@media (max-width: 1180px) {
  .which_tlf {
    justify-content: center;
  }
  
}

.which_tlf .item {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: end;
  align-items: center;
}

.item-frame {
  max-height: 540px;
  max-width: 540px;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/frame.png");
  background-repeat: no-repeat;
  padding: 9rem;
  background-size: contain;
}
.item-frame > img {
  max-height: 250px;
  max-width: 250px;
  min-width: 100px;
  min-height: 100px;
  height: 100%;
  width: 100%;
  padding: 0;
}
.item-info {
  margin-top: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 12px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  margin-top: auto;
  margin-bottom: 35px;
  width: 545px;
  height: 280px;
  margin-top: 6rem;
  line-height: 33px;
}
.info-box .title {
  margin-right: 20px;
  font-weight: 300;
  font-size: 33px;
}

.btns button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 555px;
  width: 100%;
  margin-bottom: 12px;
}
.wrapper > .action {
  display: none;
}
.item__grow_1 {
  flex-grow: 1;
}
.item__grow_1_mobile {
  display: none;
}
.item__grow_1_mobile .btn-action {
  margin-right: 1.4rem;
}
.item__grow_3 {
  flex-grow: 3;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: center;

  height: inherit;
}

.red_circle {
  display: inline-block;
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: baseline;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex h2 {
  margin: 0;
  font-weight: 300;
}
.info p {
  margin-bottom: 0;
  font-size: small;
}

.modal {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .container {
  background: rgba(0, 0, 0, 0.93);
  border-radius: 20px;
  position: relative;
  height: 100%;
  padding: 3em;
}

.modal .content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.modal__img {
  background-color: #ffffff;
  width: 250px;
  height: 250px;
  border-radius: 54px;
  overflow: hidden;
}
.modal__img img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.modal__img > img {
  height: 250px;
  width: 250px;
  border-radius: 54px;
}
.modal__info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.modal__info h1, h3{
  color: #ffffff;
}
.modal__btn {
  background-color: #60c6ff;
  color: #ffffff;
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.015em;
  border-radius: 20px;
  border: none;
  padding: 8px 35px;
}
.cross {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .item-info {
    height: auto !important;
  }
  .which_tlf {
    display: inline;
    margin-top: 2rem;
  }
  .which_tlf .item {
    height: fit-content;
    background-size: contain;
    background-color: transparent;
    justify-content: flex-start;
  }
  .btn-action img {
    object-fit: contain;
    height: 3rem;
    margin: 0;
  }
  .info {
    width: 100%;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    padding-top: 10px;
  }
  img.frame {
    height: 160px;
    width: 160px;
  }
  .opensea_link {
    display: flex;
    align-items: center;
  }
  .item__grow_1 {
    display: none;
  }
  .item__grow_1_mobile {
    display: flex;
  }
  .item-info .action {
    display: none;
  }
  .wrapper > .action {
    display: flex;
  }
  .action {
    max-width: 100%;
  }
  .btn-action {
    height: 35px;
    width: 35px;
    padding: 0;
  }
}
/* .overrideWidth{ */
  /* flex-direction: column; */
  /* width: 90%; */
/* } */
/* @media (min-width: 1200px) {
  .overrideWidth {
    max-width: 90vw;
  }
} */
@media (max-width: 1024px) {
  .which_tlf {
    display: inline;
  }
  .which_tlf .wrapper{
    margin-top: 9rem;
  }
}

@media (max-width: 768px) {
  .which_tlf .item {
    width: 100%;
    height: auto;
  }

  .item-frame > img {
    width: 100%;
    height: auto;
  }
  .modal .content {
    flex-direction: column;
  }
  .modal__info{
    align-items: center;
  }
  
}

@media (max-width: 425px) {
  .which_tlf {
    width: 100%;
  }
  .item-frame {
    padding: 25%;
  }
  img.frame {
    margin: 0;
  }
  .search_container {
    width: 90%;
  }
}

.m0{
  margin: 0;
}