
.which_tlf {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.item {
    flex-grow: 1;
}


.info {
    padding: 35px 0 10px 45px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 35px;
}

.btns button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.item__grow_1{
    flex-grow: 1;    
}
.item__grow_3{
    flex-grow: 3;
}

img.frame {
    -o-border-image: url("../../assets/frame.svg") 93 92 87 92 stretch stretch;
    border-image: url("../../assets/frame.svg") 93 92 87 92 stretch stretch;
    border-color: #f4be52;
    border-style: inset; 
    border-width: 60px;
    display: block;
    width: 40%;
    height: auto;
    background-color: #ffe;
    margin: 0 auto;
  }

  .red_circle{
      display: inline-block;
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: baseline;
  }
  .flex{
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }